.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin: 80px auto;
  max-width: 90%;
  align-content: center;
}

.contact form input,
.contact form textarea {
  display: block;
  width: 100%;
  background: #ebecfe;
  padding: 15px;
  border: 0;
  outline: 0;
  margin-bottom: 15px;
  margin-top: 5px;
  resize: none;
}

.contact-col span {
  display: block;
  margin: 20px;
}

.btns {
  background: #062988;
  color: #fff;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-content: center;
  justify-content: center;
}
