.why-us-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: 5%;
  height: 100%;
}

.why-us-cards .contact-button {
  margin: 40px 0;
}

.why-us-card {
  width: calc(33% - 10px);
  padding: 20px;
  transition: 0.3s ease-in-out;
}

.why-us-card:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
  .why-us-card {
    width: 100%;
    margin-bottom: 20px;
  }
}
