.why-us-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 5%;
  padding-right: 5%;
}

.why-us-card {
  width: calc(33% - 10px);
  padding: 20px;
  transition: 0.3s ease-in-out;
}

.why-us-card:hover {
  transform: scale(1.2);
}

.why-us-card-button {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 40%;
}

@media screen and (max-width: 1100px) {
  .why-us-card-container {
    gap: 10px;
  }

  .why-us-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .why-us-card-button {
    padding-left: 25%;
  }
}
