/* Header Styles */
header {
  width: 100%;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  width: 180px;
}

header ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

header ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
}

header ul li a {
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: font-size 0.3s;
}

header ul li a:hover {
  color: #000e3d;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  animation: increaseSize 3s;
}

@keyframes increaseSize {
  0% {
    font-size: 1.1rem;
  }
  50% {
    font-size: 1.3rem;
  }
  100% {
    font-size: 1.1rem;
  }
}

header ul li a:hover + a {
  animation: none; 
}

.container {
  padding-left: 2%;
  padding-right: 10%;
}

.dark-navbar {
  background: #fff;
  transition: 0.5s;
  color: black;
}

/* Media Queries */
@media (max-width: 1200px) {
  .container {
    padding-left: 2%;
    padding-right: 5%;
  }

  header ul li {
    margin: 5px 15px;
    font-size: 15px;
  }

  .logo {
    width: 160px;
  }
}

@media (max-width: 992px) {
  .container {
    padding-left: 2%;
    padding-right: 4%;
  }

  header ul li {
    margin: 5px 10px;
    font-size: 14px;
  }

  .logo {
    width: 140px;
  }
}
