.section {
  margin-bottom: 20px;
  margin-top: 20px;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: #073e91;
  padding: 18px;
}

.section-header:hover {
  background-color: #616bad;
  text-decoration: underline #fff 2px;
}

.section-icon {
  width: 30px;
  height: 30px;
}

.section-title {
  color: #fff;
  font-size: 18px;
}

.section-content {
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .row {
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .service-card {
    width: 100%;
  }
}
