.about-banner {
  margin-top: 5%;
  padding: 5%;
  background-image: url("../../assets/banners/about-section.png");
  background-size: cover;
  background-position: right;
}

.about-banner h1 {
  margin-bottom: 50px;
  box-shadow: #000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 2rem;
}

@media screen and (max-width: 540px) {
  .about-banner h1 {
    font-size: 1rem;
  }
}
