.about-us-banner {
  margin-top: 5%;
  padding: 5%;
  background-image: url("../../assets/banners/about-section.png");
  background-size: cover;
  background-position: right;
}

.about-us-banner h1 {
  margin-bottom: 50px;
  box-shadow: #000;
  text-shadow: 1px 1px 0 white;
  font-size: 2rem;
}

@media screen and (max-width: 540px) {
  .about-us-banner h1 {
    font-size: 1.5rem;
    text-shadow: 1px 1px 0 white;
    max-width: 50%;
  }

  .about-us-banner .contact-button {
    padding: 8px 45px;
    font-size: 1rem;
    text-shadow: 0.3px 0.3px 0 white;
    box-shadow: inset 1px 1px 5px white;
  }
}
