.service-banner {
     position: relative;
     height: 60vh;
     background-image: url("../../assets/banners/service-banner.png");
     background-size: cover;
     background-position: center;
   }

   .service-banner h1 {
     padding: 4% 4% 5%;
     box-shadow: #000;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
     font-size: 2rem;
   }

   @media screen and (max-width: 1100px) {
     .service-banner {
       height: 45vh;
     }
     .service-banner h1 {
       padding: 10% 5% 15% 10%;
       font-size: 1.5rem;
     }
   }
