.open-positions {
  margin: 80px auto;
}

.hero-background {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/careers.png");
  background-size: cover;
  background-position: center;
}

.hero-text {
  left: 20%;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-text h1 {
  font-size: 5rem;
}

.hero-text p {
  padding-top: 4%;
}

.open-positions h1 {
  text-align: center;
  padding: 2% 0 2% 2%;
  font-size: 3rem;
  color: rgb(62, 61, 61);
}

.open-positions h3 {
  text-align: center;
  padding-bottom: 2%;
  font-size: 1.5rem;
  color: #000;
}
