.open-positions {
  margin: 80px auto;
}

.career-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/careers.png");
  background-size: cover;
  background-position: center;
}

.career-section-text {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-25%, -50%);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.career-section-text h1 {
  font-size: 5rem;
}

.career-section-text p {
  font-size: 1.5rem;
}

.open-positions h1 {
  text-align: center;
  padding: 2% 0;
  font-size: 3rem;
  color: rgb(62, 61, 61);
}

.open-positions h3 {
  text-align: center;
  padding-bottom: 2%;
  font-size: 1.5rem;
  color: #000;
}

@media screen and (max-width: 1200px) {
  .career-section-text {
    left: 30%;
    top: 50%;
    transform: translate(-40%, -50%);
  }

  .career-section-text h1 {
    font-size: 2.5rem;
  }

  .career-section-text p {
    padding-top: 2%;
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .career-section-text {
    left: 40%;
    top: 50%;
    transform: translate(-40%, -50%);
  }

  .career-section-text h1 {
    font-size: 1.5rem;
  }

  .career-section-text p {
    padding-top: 2%;
    font-size: 1rem;
  }

  .open-positions h1 {
    font-size: 2rem;
  }

  .open-positions h3 {
    font-size: 1.5rem;
    padding-left: 2%;
    padding-right: 2%;
  }
}
