.quick-links ul {
  list-style: none;
  padding: 0;
}
.quick-links h4 {
  font-size: 25px;
}

.quick-links li {
  margin: 20px 5px;
  padding-top: 12px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.quick-links li:hover {
  text-decoration: underline 2px;
  cursor: pointer;
}
