.jobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5%;
  padding: 0 20%;
  text-align: center;
  line-height: 2;
}

.job-listing {
  width: 45%;
  height: auto;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.job-listing h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.job-details p {
  font-size: 16px;
  margin-bottom: 5px;
}

.details-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.details-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .jobs {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .job-listing {
    width: 100%;
  }
}
