.contact-button {
  background: none;
  color: var(--black);
  padding: 12px 60px;
  border-radius: 30px;
  font-size: 1.25rem;
  font-weight: 600;
  border: 3px solid black;
  cursor: pointer;
  text-decoration: none;
}

.contact-button:hover {
  background: var(--lightGrey);
}
