.partnersdetails {
  background: url("../../assets/banners/partner-section-background.png") no-repeat
    center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 320px;
  width: 100%;
}

.partnersdetails h2 {
  font-size: 60px;
  color: #000;
  font-weight: 600;
  margin-bottom: 20px;
}

.partner-icon {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.3s ease-out;
}

.partner-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.partner-icon-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media (min-width: 900px) {
  .partner-icon:hover {
    transform: scale(1.1);
  }
}
