.form-wrapper {
  background: #fff;
  width: 100%;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.form {
  padding: 20px 0 0 0;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.input-group {
  position: relative;
  width: 48%;
}

.input-group.textarea-group {
  width: 100%;
}

.input-group input,
.input-group textarea,
.input-group select {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  font-size: 17px;
}

.input-group label {
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-group textarea {
  resize: none;
  padding-top: 10px;
}

.input-group .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-group input:focus,
.input-group textarea:focus,
.input-group select:focus {
  outline: none;
}

.input-group input:focus ~ .underline,
.input-group input:valid ~ .underline,
.input-group textarea:focus ~ .underline,
.input-group textarea:valid ~ .underline,
.input-group select:focus ~ .underline,
.input-group select:valid ~ .underline {
  transform: scale(1);
}

.input-group input:focus ~ label,
.input-group input:valid ~ label,
.input-group textarea:focus ~ label,
.input-group textarea:valid ~ label,
.input-group select:focus ~ label,
.input-group select:valid ~ label {
  transform: translateY(-40px);
  font-size: 14px;
  color: #3498db;
}

.submit-btn {
  text-align: center;
}

.submit-btn input {
  background-color: #265bdf;
  color: #fff;
  border: none;
  padding: 10px 30px;
  font-size: 17px;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}

@media (max-width: 700px) {
  .form-header {
    font-size: 30px;
  }

  .form {
    padding: 10px 0 0 0;
  }

  .form-row {
    flex-direction: column;
    margin-bottom: 35px;
  }

  .input-group {
    width: 100%;
    margin-bottom: 35px !important;
  }

  .submit-btn input {
    width: 100%;
  }
}
