nav {
  width: 100%;
  height: 80px;
  color: #000;
  padding: 4px 0;
  position: fixed;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content:  space-between;
  z-index: 1;
}

.logo {
  width: 180px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 20px;
  font-weight: 500;
}

nav ul li a:hover {
  color: #011555;
  text-decoration: underline 2px;
  transition: 0.4s ease-in;
}

.container {
  padding-left: 5%;
  padding-right: 10%;
}


.menu-icon {
  display: none;
}

@media (max-width: 1000px) {
  .logo {
    width: 140px;
  }
  nav ul li {
    margin: 10px 15px;
  }
}

@media (max-width: 840px) {
  nav {
    padding: 15px 0;
    height: 60px;
    background: #fff;
  }

  nav ul {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: -1;
    width: 200px;
    padding-top: 70px;
    transition: 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px 40px;
    color: #000;
  }

  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
  }

  .hide-mobile-menu {
    right: -200px;
  }
}
