.tagline {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.tagline img.quote {
  width: 40px;
  margin-bottom: 40px;
}

.tagline img.points {
  width: 90px;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.tagline h1 {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(56, 53, 53);
  margin: 0;
}

@media (max-width: 768px) {
  .tagline h1 {
    font-size: 2rem;
  }

  .tagline img.quote {
    width: 30px;
    margin-bottom: 30px;
  }

  .tagline img.points {
    width: 70px;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .tagline h1 {
    font-size: 1.5rem;
  }

  .tagline img.quote {
    width: 25px;
    margin-bottom: 20px;
  }

  .tagline img.points {
    width: 60px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}
