.footer {
  background-color: #eae8e8;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.footer-section {
  flex: 300px;
  max-width: auto;
}

.footer-logo h3 {
  font-size: 25px;
}

.footer-logo .logo-img {
  height: 90px;
  width: 300px;
}

.footer-logo button {
  background-color: #eae8e8;
  border-radius: 25px;
  border: solid;
  cursor: pointer;
  color: black;
  padding: 15px 40px;
  margin-top: 40px;
  font-weight: 800;
  font-size: 15px;
}

.footer-logo button:hover {
  background-color: #000e3d;
  color: white;
}

@media (max-width: 1100px) {
  .footer {
    padding-top: 40px;
  }
  .footer-section {
    max-width: auto;
    padding-top: 25px;
  }
  .logo-footer img {
    max-width: 100%;
    height: auto;
  }
}
