.aboutus-text h1 {
  text-align: center;
  padding: 4% 0 2%;
  font-size: 3rem;
  color: var(--darkGreyRgb);
}

.about-container {
  padding: 0 10% 0 10%;
}

.aboutus-text p {
  text-align: left;
  font-size: 1.38rem;
  font: normal normal 22px "Roboto Slab", "Arial", "serif";
  color: var(--darkGreyExtra);
  text-decoration: none;
  font-weight: 400;
  line-height: 34px;
  padding-bottom: 25px;
}
