.background-container {
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/hero-images/about-background.jpg");
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: right;
  padding: 10%;
}

.title-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  max-width: 50%;
}

.text-container {
  max-width: 90%;
  color: var(--white);
  font-size: 2vw;
  text-align: right;
}

.about-us-section-button {
  background: none;
  color: var(--white);
  padding: 16px 32px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid white;
  cursor: pointer;
  margin-top: 10vh;
}

@media screen and (max-width: 1024px) {
  .background-container {
    justify-content: center;
    background-position: 15%;
  }
  .title-button-container {
    align-items: center;
    max-width: 100%;
  }
  .text-container {
    font-size: 3vw;
    text-shadow: 1px 1px 5px black;
    text-align: center;
  }
  .about-us-section-button {
    text-shadow: 1px 1px 5px black;
    box-shadow: inset 4px 4px 10px var(--blackRgbAlt);
  }
}
