.background-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/hero-images/about-background.png");
  background-size: cover;
  background-position: center;
}

.text-container {
  position: absolute;
  top: 30%;
  left: 55%;
  color: white;
  padding: 20px;
  font-size: 2vw;
  text-align: right;
  max-width: 40%;
}

.get-started-btn {
  background: none;
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid white;
  cursor: pointer;
  margin-top: 10vh;
}

@media screen and (max-width: 1024px) {
  .background-container {
    height: 80vh;
  }
  .background-container2 h1 {
    padding: 30% 12% 2% 10%;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 780px) {
  .background-container {
    height: 100vh;
  }
  .text-container {
    font-size: 3vw;
    top: 25%;
  }
  .get-started-btn {
    font-size: 0.875rem;
    padding: 10px 20px;
  }
  .background-container2 h1 {
    padding: 8% 0 5% 15%;
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .background-container {
    height: 80vh;
  }
  .text-container {
    font-size: 2.6vw;
    right: 4%;
    top: 25%;
  }
  .get-started-btn {
    font-size: 0.75rem;
    padding: 8px 16px;
  }
}
