.copyright-footer {
  background: #fff;
}

.copyright-footer .copyright-msg {
  text-align: center;
  font-weight: 400;
}

@media (max-width: 800px) {
  .copyright-footer .copyright-msg {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
  }
  @media (max-width: 650px) {
    .copyright-footer .copyright-msg {
      font-size: 15px;
      text-align: center;
      font-weight: 300;
    }
  }
  @media (max-width: 450px) {
    .copyright-footer .copyright-msg {
      font-size: 12px;
      text-align: center;
      font-weight: 300;
    }
  }
}
